@using Web_UI.Controllers
@model Web_UI.Models.VMTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            <!--Assigned project name, so Project: Value instead of ProjectId: Value-->
            @Html.DisplayNameFor(model => model.Project.Title)
        </dt>
        <!--todo figure out how to link projectId to projects name-->
            
        <dd>@Html.DisplayFor(model => model.Project.Title)</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    <!--todo Figure out how to change '{id = Model.Id}' to assigned project -->
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index", "Project")
</p>
