@using sb_admin_2.Web1.Models
@model sb_admin_2.Web1.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


    </dl>
</div>
    <br />
    <br />
<h4>Tasks</h4>
<div id="details">
    <table>
        <tr>
            <th><h4>Title</h4></th>
            <th><h4>Description</h4></th>
            <th><h4>Assigned User</h4></th>
            <th><h4>Time changed</h4></th>
            <th><h4>Edit</h4></th>

        </tr>

        @{
            List<Task> tasks = Model.Tasks;
            foreach (Task task in tasks)
            {@:
            <tr>
                <td style="padding: 5px">
                    @task.Title
                </td>
                <td style="padding: 5px">
                    @task.Description
                </td>
                <td style="padding: 5px">
                    @if (task.AssignedUser != null)
                    {
                        @task.AssignedUser
                    }
                    else
                    {
                        @:Not assigned
                    }
                    
                </td>
                <td style="padding: 5px">
                    @task.Timestamp
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = task.Id})
                </td>
            </tr>
            }
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
